<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/css/bootstrap.min.css" crossorigin="anonymous">
    {% each styles, style %}
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
    {% end %}
</head>
<body class="{% each body_classes, class %}{{ class }}{% end %}">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarMain"
                        aria-controls="navbarMain" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand mb-0">{{ site_name }}</span>
            </div>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    {% each menus.main.items, item %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                    </li>
                    {% end %}
                </ul>

                <ul class="nav navbar-right" id="userNav">
                    {% each menus.user.items, item %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>

    {% if \+ config %}

    {% if page_header %}
    <div class="container page_header">
        <h2>{{ page_header }}</h2>
    </div>
    {% end %}

    {% each messages, message, index, len %}
    <div class="container alert-messages">
        <div class="alert alert-{{ message.category }}">
            {{ message.message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% end %}

    {% unescape page_content %}

    {% else %}
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="bg-dark">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <span>
                        <a href="{{ url_for("config") }}">Core</a>
                    </span>
                </li>
                {% each menus.config_core.items, item %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                </li>
                {% end %}
                <li class="sidebar-brand">
                    <span>
                        <a href="{{ url_for("config.vendor") }}">Vendor</a>
                    </span>
                </li>
                {% each menus.config_vendor.items, item %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.path }}">{{ item.title }}</a>
                </li>
                {% end %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            {% if page_header %}
            <div class="container config-page_header">
                <h2>{{ page_header }}</h2>
            </div>
            {% end %}

            {% each messages, message, index, len %}
            <div class="container alert-messages">
                <div class="alert alert-{{ message.category }}">
                    {{ message.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% end %}

            {% unescape page_content %}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% end %}

    <script src="https://code.jquery.com/jquery-{{ jquery_version }}.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/{{ popper_version }}/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% each scripts, script %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% end %}
</body>
</html>