<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% each styles, style %}
    <link rel="stylesheet" type="text/css" href="{{ style }}" />
    {% end %}
</head>
<body class="{% each body_classes, class %}{{ class }}{% end %}">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand mb-0">{{ site_name }}</span>
            </div>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("main.index") }}">Home</a>
                    </li>
                </ul>

                <ul class="nav justify-content-end" id="userNav">
                    {% if \+ is_authenticated() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("auth.login") }}">Log in</a>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if page_header %}
        <h2>{{ page_header }}</h2>
        {% end %}

        {% unescape page_content %}
    </div>

    <script src="https://code.jquery.com/jquery-{{ jquery_version }}.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/{{ popper_version }}/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% each scripts, script %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% end %}
</body>
</html>